body {
		text-align: left;
		color: white;	
		background-image: url("webcollege.jpg");
		background-size: cover;
		background-attachment: fixed;


}
a:hover {
	color: white;
  background-color: black;
  text-decoration: none;
  }
p{
	margin-top: 5%;
	font-size: 350%;
}

.container {
	margin-left: 60%;
	position: right;
	top: 50%;
	left: 50%;
}

li {
	display: inline-block;
}

li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 0 20px;
	border: 1px solid #fff ;
	}

.cool-link: :after {
	
	display: block;
	width: 0;
	height: 2px;
	background: #fff;

}
.cool-link: hover {
	width: 100%;
	transition: width .3s;
}